<!doctype html>
<head>
	{% block head %}
	<title>Sensor Tags</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
	{% endblock %}
</head>
<body>
<div class=page>
	<h1>Sensor Tags</h1>
	<div class=metanav>
	{% if not session.logged_in %}
		<a href="{{ url_for('sensortag_web.login') }}">log in</a>
	{% else %}
	        <a href="{{ url_for('sensortag_web.logout') }}">log out</a>
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}
	{% endblock %}
</div>
</body>
