{% extends "layout.html" %}
{% from "_formhelper.html" import render_field %}
{% block body %}
	{% if session.logged_in %}
		<form method=post class=add-entry>
			<dl>
				{{ render_field(form.sensorlabel) }}
				{{ render_field(form.sensoraddr) }}
				{{ render_field(form.sensorconfig) }}
			</dl>
			<p><input type=submit value=CreateSensorTag>
		</form>
	{% endif %}
	<ul class=entries>
	{% for entry in entries %}
		<li><h2>{{ entry.sensorlabel }}</h2>{{ entry.sensoraddr|safe }}
	{% else %}
		<li><em>No SensorTags have been added.</em>
	{% endfor %}
	</ul>
{% endblock %}
