{% extends "layout.html" %}
{% from "_formhelper.html" import render_field %}
{% block head %}
{{ super() }}
<script>
$(document).ready(function() {
	$('.tempenabled').click(function(){
		if( $(this).is(':checked')) {
			$('.tempsettings').show();
		} else {
			$('.tempsettings').hide();
		}
	});
	$('.humidityenabled').click(function(){
		if( $(this).is(':checked')) {
			$('.humiditysettings').show();
		} else {
			$('.humiditysettings').hide();
		}
	});
});
</script>
{% endblock %}
{% block body %}
	{% if session.logged_in %}
		<form method=post class=add-entry>
			<dl>
				{{ render_field(form.configlabel) }}
				{{ render_field(form.tempenabled, class_="tempenabled") }}
				<div class="tempsettings">
				{{ render_field(form.tempdataaddr) }}
				{{ render_field(form.tempnotifaddr) }}
				{{ render_field(form.tempsensoraddr) }}
				{{ render_field(form.tempperiodaddr) }}
				{{ render_field(form.tempperiod) }}
				</div>
				{{ render_field(form.humenabled, class_="humidityenabled") }}
				<div class="humiditysettings">
				{{ render_field(form.humdatalength) }}
				{{ render_field(form.humreqcalib) }}
				{{ render_field(form.humcalibaddr) }}
				{{ render_field(form.humdataaddr) }}
				{{ render_field(form.humnotifaddr) }}
				{{ render_field(form.humsensoraddr) }}
				{{ render_field(form.humperiodaddr) }}
				{{ render_field(form.humperiod) }}
				</div>
			</dl>
			<p><input type=submit value=CreateSensorConfig>
		</form>
	{% endif %}
	<ul class=entries>
	{% for entry in entries %}
	<li><h2>{{ entry.configlabel }}</h2>IR Temp Enabled: {{ entry.tempenabled|safe }}, Humidity Enabled:{{ entry.humenabled|safe }}
	{% else %}
		<li><em>No SensorTag Configs have been added.</em>
	{% endfor %}
	</ul>
{{ super() }}
{% endblock %}
